<table>
  <tr>
    <th>Year</th>
    <th>Population</th>
    <th>Calculation Type</th>
  <% @logs.each do |log| %>
    <tr>
      <td>
        <%= log.year %>
      </td>
      <td>
        <%= number_with_delimiter(log.population) %>
      </td>
      <td>
        <%= log.calculation_type %>
      </td>
    </tr>
  <% end %>
</table>
